<p><%= @resource.username %>様</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>メールアドレス変更の確認メールを <%= @resource.unconfirmed_email %> へ送付しました．</p>
<% else %>
  <p>メールアドレスを <%= @resource.email %> に変更しました．</p>
<% end %>
