<p><%= @resource.username %>様，</p>

<p>パスワード変更リクエストがありました．以下のリンクをクリックしてパスワードを変更してください．</p>

<p><%= link_to 'パスワード変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしこのメールに心当たりが無ければ無視してください．リンクがクリックされなければパスワードは変更されません．</p>
