<p><%= @resource.username%>様，</p>

<p>ログインに一定回数以上失敗したため，アカウントをロックしました．</p>

<p>下のリンクをクリックし，ロックを解除してください．</p>

<p><%= link_to 'ロック解除', unlock_url(@resource, unlock_token: @token) %></p>
<p><%= unlock_url(@resource, unlock_token: @token) %></p>
